<h2>Por país</h2>
<hr>
<div class="row">
    <div class="col">
      <app-pais-input
        (onEnter)="buscar($event)"
        (onDebounce)="sugerencias($event)"
        [placeholder]="placeholder">
      </app-pais-input>
    </div>
</div>
<ul *ngIf="mostrarSug"
    class="list-group">
  <li *ngFor="let pais of paisesSugeridos"
      class="list-group-item list-group-item-action">
      <a class="nav-link"
         [routerLink]="['/pais', pais.cca2]">
                  {{pais.name.common}}
      </a>
  </li>
  <li class="list-group-item list-group-item-action">
      <a (click)="buscar(termino)"
          class="nav-link">
                  Buscar "{{termino}}"
      </a>
  </li>
</ul>
<hr>

<div *ngIf="error" class="alert alert-danger animate__animated animate__swing">
    No se encontró nada con el termino {{termino}}
</div>

<div *ngIf="paises.length > 0" class="row">
    <div class="col">
      <app-pais-tabla [paises]="paises"></app-pais-tabla>
    </div>
</div>
